body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

input {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
